body {
  background: linear-gradient(#E8CBC0, #636FA4);
}


.container {
  margin: 3% 7%;
}

.header {
  margin-bottom: 8vh;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 3vh;
}


.grades {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 25px;
  min-height: 100%;
  width: 20%;
  box-shadow: 14px 14px 25px rgba(0, 0, 0, 0.3);
  background-color: rgba(355, 355, 355, 0.6);
}

.image {
  max-width: 100%;
  border-radius: 25px 25px 0 0;
}

.cardText {
  margin: 2vw;
}

h3, h1:hover {
  cursor: default;
}

p:hover {
  cursor: pointer;
}


@media only screen and (max-width: 760px) {
  .card {
    width: 80%;
    margin: 0 0 7vw 0;
  }

  .cardText {
    margin: 5vw;
  }

  .grades {
    flex-direction: column;
    align-items: center;
  }
}